.sign-in_form_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img {
    height: 100%;
    width: 100%;
  }
  .form-wrapper {
    padding: 3rem 5rem;
  }
  .login-form,
  .inputs-container,
  button:last-child {
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
  }
  .inputs-container input,
  button {
    padding: 0.5rem;
    font-size: 1rem;
  }
  button {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--teritary-color);
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
  }
  button:last-child {
    margin-bottom: 1rem;
    border: 2px solid black;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .google-sign_in_btn {
    background-color: transparent;
    color: var(--secondary-color);
  }
  .forget-password {
    margin: 0.5rem 0;
  }
}
