.Card-container {
  --checkout-bg-color: #f5f9f8;
  background-color: var(--checkout-bg-color) !important;
  border-radius: 10px;
  padding: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  .product-img {
    height: 200px;
    width: 100%;
  }
  .add-to-cart_btn,
  .buy-now_btn {
    height: 50px;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: rgb(230, 51, 51);
  }
}
