.checkout-container {
  --checkout-bg-color: #f5f9f8;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  .products-container {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow-y: scroll;
    padding: 1rem 3rem;
  }
  .sub-total_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .sub,
  .delivery,
  .total {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .payment-details {
    padding: 0.5rem;
    background-color: var(--checkout-bg-color);
  }
  .payment-details hr {
    border-color: rgb(241, 241, 241);
  }
  .sub span:last-child,
  .delivery span:last-child {
    font-weight: 700;
  }

  .total span {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .total span:last-child {
    font-weight: 800;
  }
  .payment-details p {
    font-size: 0.8rem;
    text-align: right;
  }
  .Payment-methods {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    background-color: var(--checkout-bg-color);
  }
  .Payment-methods img {
    height: 60px;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem;
  }
  .Payment-methods,
  .payment-details,
  .proceed-btn {
    border-radius: 1rem;
  }
  .proceed-btn {
    padding: 1rem;
    background-color: var(--checkout-bg-color);
  }
  .checkout-item {
    height: fit-content;
    background-color: var(--checkout-bg-color);
  }
}
