.dropdown-container {
  display: flex !important;
  flex-direction: column;
  background-color: lightgray;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 0.5rem;
  gap: 1rem;
  right: 0;
  width: 300px;
  z-index: 1001;
  transform: translateX(100%);
  transition: 300ms ease-in-out;
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    height: 100%;
  }
  .cards-container::-webkit-scrollbar {
    width: 10px;
  }
  .cards-container::-webkit-scrollbar-thumb {
    background-color: black;
  }
}
.active {
  transform: translateX(0%);
}

.remove-btn {
  grid-column: 1/-1;
  color: gray;
  cursor: pointer;
  justify-self: flex-end;
  transition: 300ms ease-in-out;
}
.remove-btn:hover {
  color: red;
}
